/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *

	!!! Combos sind eigener block und kein behavior!!!
	combos {
		compatible = "zmk,combos";

		A + S gleichzeitig = ESC 
		combo_esc {
			timeout-ms = <40>;
			key-positions = <12 13>; /* <- physische Key-Positionen 
			bindings = <&kp ESC>;
		};
	};

	behaviors{
		hold-tap beispiel
		ht: ht {
			compatible = "zmk,behavior-hold-tap";
			label = "HT";
			#binding-cells = <2>;   -> anzahl der argumente beim aufruf in der keymap

			 Welche Behaviors werden genutzt 
			bindings = <&kp>, <&kp>;

			 typische Defaults 
			flavor = "balanced";
			tapping-term-ms = <200>;
		};


		tap-dance beispiel das einen hold-tap aufruft:
		ht_ctrl_esc: ht_ctrl_esc {
			compatible = "zmk,behavior-hold-tap";
			label = "HT_CTRL_ESC";
			#binding-cells = <2>;
			bindings = <&kp>, <&kp>;
			tapping-term-ms = <200>;
		};

		td_example: td_example {
			compatible = "zmk,behavior-tap-dance";
			label = "TD_EXAMPLE";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp A>, <&ht_ctrl_esc LCTRL ESC>;
		};


		mod-morph beispiel
		mm_sc_col: mm_sc_col {
			compatible = "zmk,behavior-mod-morph";
			label = "MM_SC_COL";
			#binding-cells = <0>;
			mods = <MOD_LSFT>;
			bindings = <&kp SEMI>, <&kp COLON>;
		};

		
		macro beispiel:
		m_parens: m_parens {
			compatible = "zmk,behavior-macro";
			label = "M_PARENS";
			#binding-cells = <0>;
			bindings = <
				&kp LPAR
				&kp RPAR
			>;
		};

		In behavior-macro gibt es diese Bausteine:
		&kp X → tap (press + release)
		&macro_press &kp X
		&macro_release &kp X
		&macro_tap &kp X (explizit, selten nötig)
		&macro_pause <ms>
		
	}



	layer semantik:
	&mo 1 		-> toggle layer 1 on hold
	&lt 1 space -> layer 1 on hold, space on tap
	&tog 1		-> quasi nutzlos weil stapelt layer
	&sl 1		-> aktiviert layer für einen key stroke
	&to 1		-> toggle den man benutzen kann

	anderes:
	&caps_word	-> wenn ausgelöst alles großgeschrieben, sobald eine nicht alphanumerische taste gedrückt wird.
	&sk LSHFT	-> nächster key bekommt diesen mod 
	&kt LALT	-> toggled den key
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"
#include "pos.h"

/ {
    behaviors {
        ht_1: ht_1 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_1";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <0>;

            /* nur Behavior-Referenzen */

            bindings = <&kp>, <&kp>;
        };

        td_u_ue: td_u_ue {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_U_UE";
            #binding-cells = <0>;
            bindings = <&kp DE_U>, <&kp DE_U_UMLAUT>;
        };

        td_z_sz: td_z_sz {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_Z_SZ";
            #binding-cells = <0>;
            bindings = <&kp DE_Z>, <&kp DE_SZ>;
        };

        td_dot: td_dot {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOT";
            #binding-cells = <0>;
            bindings = <&kp DE_DQT>, <&ht_1 DE_EXCLAMATION DE_QUESTION>;
        };

        morph_brace: morph_brace {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_BRACE";
            bindings = <&kp DE_LEFT_BRACE>, <&kp DE_RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        morph_paran: morph_paran {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_PARAN";
            bindings = <&kp DE_LEFT_PARENTHESIS>, <&kp DE_RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        moprh_bracket: moprh_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "MOPRH_BRACKET";
            bindings = <&kp DE_LEFT_BRACKET>, <&kp DE_RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        morph_slash: morph_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_SLASH";
            bindings = <&kp DE_SLASH>, <&kp DE_BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        morph_dollar_euro: morph_dollar_euro {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_DOLLAR_EURO";
            bindings = <&kp DE_DOLLAR>, <&kp DE_EURO>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        morph_perc_sect: morph_perc_sect {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_PERC_SECT";
            bindings = <&kp DE_PERCENT>, <&kp DE_SECT>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        td_num: td_num {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NUM";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&to 3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        C_Enter {
            bindings = <&kp RET>;
            key-positions = <16 19>;
        };
    };

    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp P>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "PASTE";
        };

        select_all: select_all {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "SELECT_ALL";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "CUT";
        };

        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp DE_Z>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "UNDO";
        };

        redo: redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp DE_Y>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "REDO";
        };

        find: find {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp DE_F>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "FIND";
        };

        find_and_replace: find_and_replace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp DE_H>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "FIND_AND_REPLACE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&none    &kp DE_Q         &kp DE_W         &kp DE_E          &kp DE_R          &kp DE_T         &td_z_sz      &td_u_ue          &kp DE_I          &kp DE_O         &kp DE_P                &kp DE_U_UMLAUT
&td_num  &ht_1 LGUI DE_A  &ht_1 LALT DE_S  &ht_1 LCTRL DE_D  &ht_1 LSHFT DE_F  &kp DE_G         &kp DE_H      &ht_1 RSHFT DE_J  &ht_1 RCTRL DE_K  &ht_1 RALT DE_L  &ht_1 RGUI DE_O_UMLAUT  &kp DE_A_UMLAUT
&none    &kp DE_Y         &kp DE_X         &kp DE_C          &kp DE_V          &kp DE_B         &kp DE_N      &kp DE_M          &kp DE_COMMA      &td_dot          &kp DE_MINUS            &none
                                           &kp ESC           &mo 1             &kp BACKSPACE    &kp DE_SPACE  &mo 2             &kp TAB
            >;
        };

        nav {
            display-name = "nav";
            bindings = <
&none  &kp DE_N1    &kp DE_N2  &kp DE_N3  &kp DE_N4   &kp DE_N5    &kp DE_N6     &kp DE_N7   &kp DE_N8  &kp DE_N9  &kp DE_N0      &none
&none  &kp LGUI     &kp LALT   &kp LCTRL  &kp LSHIFT  &undo        &kp LEFT      &kp DOWN    &kp UP     &kp RIGHT  &kp BACKSPACE  &none
&none  &select_all  &cut       &paste     &copy       &redo        &kp HOME      &kp PG_DN   &kp PG_UP  &kp END    &none          &none
                               &none      &none       &none        &kp DE_SPACE  &kp LSHIFT  &kp TAB
            >;
        };

        sym {
            display-name = "sym";
            bindings = <
&kp DE_CARET  &kp DE_HASH   &morph_perc_sect  &morph_dollar_euro   &kp DE_AMPERSAND      &kp DE_AT_SIGN         &none  &none       &none      &none          &none  &none
&kp DE_GRAVE  &kp DE_PIPE   &kp DE_BACKSLASH  &moprh_bracket       &morph_brace          &morph_paran           &none  &kp RSHIFT  &kp LCTRL  &kp RIGHT_ALT  &none  &none
&kp DE_TILDE  &kp DE_ASTRK  &kp DE_SLASH      &kp DE_MINUS         &kp DE_PLUS           &kp DE_GREATER_THAN    &none  &none       &none      &none          &none  &none
                                              &kp DE_SINGLE_QUOTE  &kp DE_DOUBLE_QUOTES  &kp DE_SPACE           &none  &none       &none
            >;
        };

        num {
            bindings = <
&none  &none     &none     &kp LEFT_ARROW  &kp RIGHT_ARROW  &none    &kp DE_PLUS   &kp DE_N7     &kp DE_N8      &kp DE_N9  &kp DE_ASTRK  &none
&to 0  &kp LGUI  &kp LALT  &kp LCTRL       &kp LSHFT        &none    &kp DE_MINUS  &kp DE_N4     &kp DE_N5      &kp DE_N6  &kp DE_SLASH  &none
&none  &none     &none     &kp DE_DOLLAR   &kp DE_EURO      &none    &kp DE_N0     &kp DE_N1     &kp DE_N2      &kp DE_N3  &kp DE_EQUAL  &none
                           &none           &none            &none    &kp RET       &kp DE_COMMA  &kp DE_PERIOD
            >;
        };

        func {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
